/* Home */

footer
{
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}

.admin-post
{
    background-color: white;
}

.link_home
{
    text-align: right;
}

/* admin/comments */
.comment
{
    color: cadetblue;
}

#signal
{
    display: inline;
    background-color : #F53855;
    color : white;
    border-radius: 10px;
    padding: 7px;
    width: auto;

}






