/* Template */

.navbar-nav {
    float: right;
    padding-top: 5px;
}

li a {
    color: #3e606f;
    text-align: center;
    text-decoration: none;
}

footer
{
    padding-bottom: 30px;
    text-align: center;
}


/* Home index */

.intro
{
    text-align: left;
    color: #91aab4;
    font-weight: 800;
    padding-bottom: 30px;
    text-decoration: underline;
}

.dateintro
{
    text-align: right;
    margin-right: 50px;
    margin-bottom: 50px;
    color: #91aab4;
}

/* Post Index */

.title-int
{
    background-color: #cbdbd7;
}

.title-int2
{
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* post */

.commentaires
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.box
{
    background-color: #cbdbd7;
}

.addcomment
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* Moderation */

.view-one-com
{
    margin-left: 50px;
    margin-right: 50px;
}


/* connexion */

.error
{
    background-color: #91aab4;
    color: white;
    text-align: center;
    padding : 10px;
}

@media screen and (max-width: 736px)
{
    .nav
    {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}