/* Home */

footer
{
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}

.admin-post
{
    background-color: white;
}

.link_home
{
    text-align: right;
}

.comment
{
    color: cadetblue;
}







